<div class="silder">
  <div class="silder-content">
    <h1>Welcome to Driver</h1>
  </div>
</div>
<div class="features">
  <div class="row">
    <div class="column">
      <mat-icon aria-hidden="false">fast_forward</mat-icon>
      <h3>Faster</h3>
    </div>
    <div class="column">
      <mat-icon aria-hidden="false">attach_money</mat-icon>
      <h3>Cheaper </h3>
    </div>
    <div class="column">
      <mat-icon aria-hidden="false">folder_special</mat-icon>
      <h3>Unique
      </h3>
    </div>
  </div>
</div>
<div class="contents">
  <h2>Features
  </h2>
  <div class="row">
    <div class="column center-content">
      <h3>Fast
      </h3>
      <p>Save or download your files with just one click
      </p>
    </div>
    <div class="column">
      <img src="https://unsplash.com/photos/MI9-PY5cyNs/download?force=true">
    </div>
  </div>
  <div class="row">
    <div class="column">
      <img src="https://unsplash.com/photos/MI9-PY5cyNs/download?force=true">
    </div>
    <div class="column center-content">
      <h3>Accessibility
      </h3>
      <p>Access to your files wherever you want
      </p>
    </div>
  </div>
  <div class="row">
    <div class="column center-content">
      <h3>Add your bucket</h3>
      <p>You can choose to add your google bucket to store your data
      </p>
    </div>
    <div class="column">
      <img src="https://unsplash.com/photos/6JVlSdgMacE/download?force=true">
    </div>
  </div>
</div>
<div class="contactus">
  <h2>Subscribe now To get Updates</h2>
  <form>
    <mat-form-field appearance="fill">
      <mat-label>Subscribe</mat-label>
      <input matInput>
    </mat-form-field>
    <button mat-flat-button>Subscribe Now</button>
  </form>
</div>
<div class="footer" color="primary">
  <mat-toolbar color="primary">
    <span>driver.com 2022</span>
  </mat-toolbar>
</div>
